@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply  bg-gray-100 text-gray-900;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
background: #f1f5f9;
border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
 background: #a0aec0; 
}